.prev-arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 25px solid rgb(0, 0, 0);
  cursor: pointer;
}

.next-arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 25px solid black;
  cursor: pointer;
}

.play-pause-btn {
  background-color: #25beda;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid white;
  opacity: 1;
}

.pause1-button,
.pause2-button {
  position: absolute;
  top: 50%;
  width: 13px;
  height: 50px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .prev-arrow {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(0, 0, 0);
  }

  .next-arrow {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
  }

  .play-pause-btn {
    height: 50px;
    width: 50px;
  }

  .play-button {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid white;
  }

  .pause1-button,
  .pause2-button {
    width: 6px;
    height: 25px;
  }
}

@media screen and (max-width: 400px) {
  .prev-arrow {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid rgb(0, 0, 0);
  }

  .next-arrow {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid black;
  }
}
